@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* navigationbar */
#navbar{
    display: flex;
    justify-content: space-between;
    background-color: #afacac;
    
}
.nav-link li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
}
.nav-link{
    margin-top: 30px;
}
.nav-link ul li a{
    text-decoration: none;
    margin: 0 15px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
.logo{
    width: 80px;
    height: 80px;
    margin-left: 20px;
    cursor: pointer;
}

.btn{
    font-weight: 700;
    font-size: 20px;
    margin: 25px 40px;
    padding: 10px 40px;
    background-color: rgb(80, 235, 255);
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

/* heading */
h1{
    font-size: 60px;
    color: rgb(58, 57, 57);
    margin-bottom: 20px;
}
h2{
    font-size: 50px;
    color: #625e5e;
    margin-bottom: 20px;
}

.food-head{
    font-size: 30px;
    font-weight: 900;
    padding: 20px 0px;
}
.green-color{
    color: #f1cd2d;
}

.order-food-button{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(red,tomato);
    padding: 15px 40px;
    border-radius: 80px;
    font-weight: 700;
    color: aliceblue;
    margin-top: 40px;
    box-shadow: 2px 2px 50px 1px rgb(235, 141, 141);
}

.flexable-container{
    display: flex;
}  

.half-contain{
    width: 40%;
    margin: 5% 5%;
}
.text-aritcle-1{
    padding-top: 250px;
}
.text-aritcle-2{
    padding-top: 150px;
}
.person-image{
    width: 370px;
    height: 580px;
    margin-left: 50px;
}
.bg-image{
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.recipies{
    margin: auto;
    width: 500px;
    text-align: center;
    padding: 50px;
}

/* food box */
.box-image{
    width: 400px;
    height: 280px;
    padding-bottom: 10px;
}
.flexable-box{
    display: flex;
    margin-left: 30px;
    margin-bottom: 100px;
}
.food-box{
    width: 28%;
    margin: 2% 2%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 50px 1px #afacac;
}

/* social-media info */

.social-media{
    width: 90%;
    margin-left:60px;
    margin-bottom: 60px;
    text-align: center;
    
}

.media-info{
    width: 28%;
    margin: 2% 2%;
    padding: 20px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
/* social media button */
.fa-facebook {
    background: #3fe447;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #136fb1;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .social-media{
      text-align: center;
      background-image: linear-gradient(#e1ff5b,tomato);
  }

  .socialize-icon{
      margin: 70px 0;
      text-align: center;
  }

/* footer info */
.footer-box{
    width: 100%;
    height: 300px;
    background-color: #101c27;
    text-align: center;
    padding-top: 50px;
}
.footer-box p{
    color: aliceblue;
}

